extends layout
block extrahead
    title Home
block content
    div
        p Chat Home
            span#users
        input#username
        input#message
        button#send-message Enviar
    div#message-list

block scripts
    